<%= content_for :logo do %>
<img id="logo-header" src="/assets/images/BTFDtvLogo.gif" style="margin-top:-1.7em;" height="70px" width="70px" alt="Logo">
<% end %>

<script type="text/javascript">
  $('#dropdown-home').addClass('active');
</script>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h2 class="pull-left">Log In to BTFDtv</h2>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Pages</a></li>
            <li class="active">Log In</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <%= form_tag sessions_path, :class=>'reg-page' %>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>                  
		    <%= text_field_tag :email, params[:email], :class=>'form-control' %>
                </div>                    
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
		    <%= password_field_tag :password, '', :class=>'form-control' %>
                </div>                    

                <div class="row">
                    <div class="col-md-6">
                        <%= check_box_tag :remember_me, 1, params[:remember_me] %>&nbsp;Remember Me                    
                    </div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">Log in</button>                        
                    </div>
                </div>
            </form>            
        </div>
    </div><!--/row-->
</div><!--/container-->		
<!--=== End Content Part ===-->




