<%= content_for :logo do %>
<img id="logo-header" src="assets/images/BTFDtvLogo.gif" style="margin-top:-1.7em;" height="70px" width="70px" alt="Logo">
<% end %>

<script type="text/javascript">
  $('#dropdown-home').addClass('active');
</script>

<!--=== Slider ===-->

<div class="slider-inner">

    <div id="da-slider" class="da-slider">

        <div class="da-slide">

            <h2><i>THE ONLY</i> <br /> <i>FULLY TRANSPARENT</i> <br /> <i>NETWORK</i></h2>

            <p><i>News, information, education</i> <br /> <i>and entertainment</i> <br /> <i>you simply won't see anywhere else.</i></p>

	    <div class="da-img"><img src="/assets/images/BTFDtvLarge.png"/></div>

        </div>

        <div class="da-slide">

            <h2><i>CONNECT WITH THE SOURCE.</i> <br /> <i>DO YOUR OWN</i> <br /> <i>DUE DILLIGENCE.</i></h2>

            <p><i>Hear from traders in the pit.</i> <br /> <i>See farmers in the field.</i> <br /> <i>Ask questions. Be answered.</i></p>

            <div class="da-img">
	    <iframe src="http://player.vimeo.com/video/77616149" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
		<!--img src="assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /--></div>


        </div>

        <div class="da-slide">

            <h2><i>A SIGHT FOR SORE EYES.</i> <br /> <i>SIGNALS...</i><br/><i>OVER NOISE</i></h2>

            <p><i>Get what you need when you need it.</i> <br /> <i>Take it with you & share it.</i></p>

            <div class="da-img">
	        <img src="/assets/plugins/parallax-slider/img/1.png" alt="" />
            </div>

        </div>

        <div class="da-slide">

            <h2><i>STAY CONNECTED.</i> <br /> <i>BE NOTIFIED.</i> <br /> <i>WATCH AND LEARN.</i></h2>

            <p><i>Talk with show hosts &amp guests.</i> <br /> <i>One way communication is over.</i> <br /> <i>Welcome to BTFDtv.</i></p>

	    <div class="da-img"><img src="/assets/images/BTFDtvLarge.png"/></div>

        </div>

        <div class="da-arrows">

            <span class="da-arrows-prev"></span>

            <span class="da-arrows-next"></span>		

        </div>

    </div><!--/da-slider-->

</div><!--/slider-->

<!--=== End Slider ===-->



<!--=== Purchase Block ===-->

<div class="purchase">

    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <span>BTFDtv is a Network built for Traders by Traders.</span>

                <p>We provide the most relevant information a way that filters the noise, educates, and is accessible in ways never thought of before.</p>

            </div>            

            <div class="col-md-3">

                <a href="/streams" class="btn-buy hover-effect">&nbsp;WATCH&nbsp;</a>           
                <a href="/signup" class="btn-buy hover-effect">SIGN UP</a>

            </div>

        </div>

    </div>

</div><!--/row-->

<!-- End Purchase Block -->



<!--=== Content Part ===-->

<div class="container">	

	<!-- Service Blocks -->

	<div class="row">

    	<div class="col-md-4">

    		<div class="service">

                <i class="icon-resize-small service-icon"></i>

    			<div class="desc">

    				<h4>Fully Responsive</h4>

                    <p>Our Hosts & Guests interact with the Viewers in a way that has never been possible before. With Twitter, Live Chat & Google Hangouts, we respond to the needs of our users instantaneously.</p>

    			</div>

    		</div>	

    	</div>

    	<div class="col-md-4">

    		<div class="service">

                <i class="icon-cogs service-icon"></i>

    			<div class="desc">

    				<h4>Technologically Advanced</h4>

                    <p>BTFDtv has been built with bleeding edge technology.  By building on some of the most reliable open source software, cloud hosting & APIs, we can focus on serving the customer.</p>

    			</div>

    		</div>	

    	</div>

    	<div class="col-md-4">

    		<div class="service">

                <i class="icon-plane service-icon"></i>

    			<div class="desc">

    				<h4>Mobile Ready</h4>

                    <p>From the start, we built BTFDtv with a mobile client in mind. HTML5 + CSS3 provide us with ways to let you watch from your laptop, iPhone, iPod or Android device without thinking about it.</p>

    			</div>

    		</div>	

    	</div>			    

	</div><!--/row-->

	<!-- End Service Blokcs -->



	<!-- Recent Works -->

    <!--div class="headline"><h2>Recent Works</h2></div>

    <div class="row">

        <div class="col-md-3 col-sm-6">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">

            	<div class="thumbnail-img">

                    <div class="overflow-hidden">

                        <img class="img-responsive" src="assets/img/main/2.jpg" alt="" />

                    </div>

                    <a class="btn-more hover-effect" href="#">read more +</a>					

                </div>

                <div class="caption">

                    <h3><a class="hover-effect" href="#">Project One</a></h3>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>

                </div>

            </div>

        </div>

        <div class="col-md-3 col-sm-6">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">

                <div class="thumbnail-img">

                    <div class="overflow-hidden">

                        <img class="img-responsive" src="assets/img/main/3.jpg" alt="" />

                    </div>

                    <a class="btn-more hover-effect" href="#">read more +</a>                   

                </div>

                <div class="caption">

                    <h3><a class="hover-effect" href="#">Project Two</a></h3>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>

                </div>

            </div>

        </div>

        <div class="col-md-3 col-sm-6">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">

                <div class="thumbnail-img">

                    <div class="overflow-hidden">

                        <img class="img-responsive" src="assets/img/main/9.jpg" alt="" />

                    </div>

                    <a class="btn-more hover-effect" href="#">read more +</a>                   

                </div>

                <div class="caption">

                    <h3><a class="hover-effect" href="#">Project Three</a></h3>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>

                </div>

            </div>

        </div>

        <div class="col-md-3 col-sm-6">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">

                <div class="thumbnail-img">

                    <div class="overflow-hidden">

                        <img class="img-responsive" src="assets/img/main/10.jpg" alt="" />

                    </div>

                    <a class="btn-more hover-effect" href="#">read more +</a>                   

                </div>

                <div class="caption">

                    <h3><a class="hover-effect" href="#">Project Four</a></h3>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>

                </div>

            </div>

        </div>

    </div><!--/row-->

	<!-- End Recent Works -->

    

	<!-- Info Blokcs -->

	<!--div class="row">

    	<!-- Welcome Block -->

		<!--div class="col-md-8">

			<div class="headline"><h2>Welcome To BTFDtv</h2></div>

            <div class="row">

                <div class="col-sm-4">

                    <img class="img-responsive margin-bottom-20" src="assets/img/main/6.jpg" alt="" />

                </div>

                <div class="col-sm-8">

                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>

                    <ul class="list-unstyled margin-bottom-20">

                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>

                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>

                        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>

                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>

                    </ul>                    

                </div>

            </div>



            <blockquote class="hero-unify">

                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>

                <small>CEO, Jack Bour</small>

            </blockquote>

        </div><!--/col-md-8-->        



        <!-- Latest Shots -->

        <!--div class="col-md-4">

			<div class="headline"><h2>Latest Shots</h2></div>

			<div id="myCarousel" class="carousel slide carousel-v1">

                <div class="carousel-inner">

                    <div class="item active">

                        <img src="assets/img/main/5.jpg" alt="">

                        <div class="carousel-caption">

                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>

                        </div>

                    </div>

                    <div class="item">

                        <img src="assets/img/main/4.jpg" alt="">

                        <div class="carousel-caption">

                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>

                        </div>

                        </div>

                    <div class="item">

                        <img src="assets/img/main/3.jpg" alt="">

                        <div class="carousel-caption">

                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>

                        </div>

                    </div>

                </div>

                

                <div class="carousel-arrow">

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">

                        <i class="icon-angle-left"></i>

                    </a>

                    <a class="right carousel-control" href="#myCarousel" data-slide="next">

                        <i class="icon-angle-right"></i>

                    </a>

                </div>

			</div>

        </div><!--/col-md-4-->

	<!--/div><!--/row-->	

	<!-- End Info Blokcs -->

	<div id="clients-flexslider" class="flexslider home clients">

        <div class="headline"><h2>Our Contributors</h2></div>	

		<ul class="slides">
                <% @contributors.each do |contributor| %>
	        <li>
                  <a href='<%=contributor_path(contributor)%>'>
                    
		    <%=image_tag(avatar_url(contributor,125), :width=>125, :height=>125, :alt=>'') %>                     
		    <%=image_tag(avatar_url(contributor,125), :width=>125, :height=>125, :alt=>'Gravatar', :class=>'color-img')%>
                  </a>
		  <h5><%=link_to "@#{contributor.twitter}", contributor_path(contributor)%></h5>
                </li>
		<% end %>
		</ul>

	</div><!--/flexslider-->


</div><!--/container-->		

<!-- End Content Part -->

